{% extends "layout.html" %}

{% set active_page = "Page 1" %}

{% block title %}Page 1{% endblock %}

{% block content %}
    <!--page content-->
    <br>
<div class="container mt-3 fonts1">
    <h1 class="centered">Usernames</h1>
    <br>
<div class="container p-5 my-5 border color fonts">
    <p>{{a}}</p>
    <p>{{b}}</p>
    <p>{{c}}</p>
    <p>{{d}}</p>
    <p>{{e}}</p>
</div>

<h3 class="centered fonts1">press the icon to go back and try the mixer again</h3>
</div>
<br>
<br>
{% endblock %}
